{% extends "layout.html" %}
{% block main %}
<h1>What is Equitech?</h1>
<p>Equitech is a platform for students to study, hang out, and relax. Equitech includes music, meeting-joiners, places to hangout, and places to organize course-work!</p>
<h1>Our Partners</h1>
<style>
  .card{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:150px;
    height:200px;
    margin:5px;
    float:left;
    background:rgba(79, 89, 89,0.5); 
    border-radius:10px;
    color:white;
  }
</style>
<a href='https://top.gg/bot/810662403217948672'><div class="card">
  <center><img src='https://images.discordapp.net/avatars/810662403217948672/53ee05a82c2f2b879963fa3f080dd423.png?size=512' alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Country Bot</b></h4> 
    <p>Coder N</p> 
  </div></center>
</div></a>
<a href='/partners/hybrid'><div class="card">
  <center><img src='https://cdn.discordapp.com/avatars/851572977195941899/125e39359e14ef27d741f41b9c602ea4.png?size=256' alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Hybrid</b></h4> 
    <p>Kam</p> 
  </div></center>
</div></a>
<a href='/partners/susposting'><div class="card">
  <center><img src='https://cdn.discordapp.com/icons/807036005004869642/0954e146d83260ced9a4f407cf8044d8.png?size=256' alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Susposting</b></h4> 
    <p>Othicc</p> 
  </div></center>
</div></a>
<h1 style="clear: both;">Legal Information</h1>
<p style="clear: both;"><a href='/disclaimer'>Disclaimer</a> • <a href='/tos'>Terms of Service</a> • <a href='/pp'>Privacy Policy</a> • <a href='/about'>About</a> • <a href='/cookies'>Cookies</a></p>
{% endblock %}