{% extends "layout.html" %}
{% block main %}
<h1>Welcome to Equitech, New User!</h1>
<form method='POST' action='/name'>
<div style='float:left;width:70%;'>
<div style='margin-top:200px;'>
<!-- <input type='hidden' value={{path}}> -->
<input id='psw1' style='width:800px;height:60px;font-size: 2em;' type='password' placeholder='Set a password.' name='password' value={{name}}  onkeyup='check();'>
<input id='psw2'  style='width:800px;height:60px;font-size: 2em;' type='password' placeholder='Retype your Password to Confirm' name='password' value={{name}}  onkeyup='check();'>
<style>
  .sub:hover{
    border-style:none;
  }
  .sub{
    border-style:none;
  }
</style>
<input id=' mySubmit' class='sub' type='submit' value='Next' style='height:75px;'>
</div>
</div>
<div style='float:left;width:20%;'>
<img height="100%" src='static/assets/AccountBanner.png'>
</div>
</form>
<script>
  var check = function() {
  if (document.getElementById('psw1').value ==
    document.getElementById('psw2').value) {
    document.getElementById("mySubmit").disabled = false;
  } else {
    alert('hi');
    document.getElementById("mySubmit").disabled = true;
  }
}
</script>

{% endblock %}