{% extends "layout.html" %}
{% block main %}
<h1>Welcome Back, Existing User!</h1>
<form method='POST' action='/finish'>
<div style='float:left;width:70%;'>
<div style='margin-top:200px;'>
<!-- <input type='hidden' value={{path}}> -->
<input style='width:800px;height:60px;font-size: 2em;' type='password' placeholder='Type your password to login...' name='password' value={{name}}>
<style>
  .sub:hover{
    border-style:none;
  }
  .sub{
    border-style:none;
  }
</style>
<input class='sub' type='submit' value='Log In =>' style='height:75px;'>
</div>
</div>
<div style='float:left;width:20%;'>
<img height="100%" src='static/assets/AccountBanner.png'>
</div>
</form>
{% endblock %}