{% extends "layout.html" %}
{% block main %}
<h1>Create a Server</h1>
<form autocomplete="off" method='POST'>
<input style='height:60px;border-radius:5px;outline:none;width:80%;' type='text' name='name' placeholder='Server Name'>
<input type='hidden' value='1'>
<input style='border-radius:5px;' type='submit' value='Create'>
</form>
<form method='POST' autocomplete="off">
<h1>Join a Server</h1>
<input style='height:60px;border-radius:5px;outline:none;width:80%;' type='text' name='name' placeholder='Invite Link'>
<input type='hidden' value='2'>
<input style='border-radius:5px;' type='submit' value='Join'>
<h3>Invite Link Formats</h3>
<p>hTKzmak</p>
<p>https://testpreparer.gq/hTKzmak</p>
</form>
{% if status == True %}
<h1>Your Servers</h1>
<style>
  .card{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:150px;
    height:200px;
    margin:5px;
    float:left;
    background:#4f5959; 
    border-radius:10px;
    color:white;
  }

  card img{
    text-align:center;
  }
  .card2{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:100%;
    height:60px;
    background:#4f5959;
    border-radius:10px; 
    color:white;
    margin-bottom:20px;
	overflow: hidden;

  }
  .card:hover{
    border-style:none none solid none;
    border-color:#fcc203;
    color:white;
  }
  .card img{
    width:90px;
  }
</style>
{% for i in servers %}
<a href={{i[1]}}><div class="card">
  <center>
  <div class="container" style='color:white;'>
    <h3 style="text-align: center;color:white;" ><b>{{i[0]}}</b></h3> 
    <h4>Owner: {{i[2]}}</h4>
  </div>
</div></a>
{% endfor %}
{% endif %}
<br>
<h1 style='clear:both;'>What are servers?</h1>
<p>Servers are a way to hangout, start a study group, play games, talk, and share files and events. Everything in your server is customizable to your needs!</p>
{% endblock %}