{% extends "layout.html" %}
{% block main %}
<style>
  .card{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:150px;
    height:200px;
    margin:5px;
    float:left;
    background:#4f5959; 
    border-radius:10px;
    color:white;
  }

  card img{
    text-align:center;
  }
  .card2{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:100%;
    height:60px;
    background:#4f5959;
    border-radius:10px; 
    color:white;
    margin-bottom:20px;
	overflow: hidden;

  }
  .card:hover{
    border-style:none none solid none;
    border-color:#fcc203;
    color:white;
  }
  .card img{
    width:90px;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
<div class='card2' >

<h1 style="float: left;">TestPreparer Education</h1>

<h2 style = "float: right;"><a style = "float: right;" href="/profile">Profile </a>&nbsp;&nbsp;&nbsp;&nbsp;<a style = "float: right; margin:0 20px 0 0;" href="/school">Join a School</a></h2>

</div>
<br>
<h1 style='clear:both;'>Courses</h1>
{% for i in new %}
<a href={{i[3]+i[0]}}><div class="card">
  <center><img src={{i[1]}} alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>{{i[0]}}</b></h4> 
    <p>{{i[2]}}</p> 
  </div></center>
</div></a>
{% endfor %}
<a href='/add-course'><div class="card">
  <center><img src="https://images.emojiterra.com/google/android-pie/512px/2795.png" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Add a Course</b></h4> 
    <p>to your dashboard!</p> 
 </div></center>
</div></a>



<h1 style='clear: both;'>Integrations</h1>
<a href='/shared'><div class="card">
  <center><img src="https://icons-for-free.com/iconfiles/png/512/share+google-131965017636708830.png" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Shared Drives</b></h4> 
    <p>Share Study Guides!!!</p> 
  </div></center>
</div></a>

<a href='/zoom'><div class="card">
  <center><img src="https://i.redd.it/3mmay5358b761.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Zoom Cloud Meetings Integration</b></h4> 
    <p style="text-align: center;color:white;"><a href='https://zoom.us'>Provider: zoom.us</a></p> 
  </div>
</div></a>
<a href='/music'><div class="card">
  
  <center><img src="https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube_icon_full-color.svg?cache=f2ec7a5" alt="Avatar" style="width:25%"></center>
  <div class="container"  style='color:white;'>
    <h4 style="text-align: center;color:white;"><b>Youtube Videos Integration</b></h4> 
    <p style="text-align: center;color:white;"><a href='https://youtube.com'>Provider: youtube.com</a></p> 
  </div>
</div></a>
<h1 style="clear: both;">Beta Features</h1>
<h2>These features can crash, work incorrectly, or just break down entirely. When they are ready, they will be moved out of the beta category!</h2>
<a href='/aops'><div class="card">
  <center><img src="https://artofproblemsolving.com/assets/images/landingpageredesign/online_cube.svg" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>AoPS Integration (Premium SOON)</b></h4> 
    <p style="text-align: center;color:white;"><a href='https://aops.com'>Provider: aops.com</a></p> 
  </div>
</div></a>
<a href='/question'><div class="card">
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/WolframCorporateLogo.svg/1200px-WolframCorporateLogo.svg.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Question Integration (Premium SOON)</b></h4> 
    <p style="text-align: center;color:white;"><a href='https://wolfram.com'>Provider: wolfram.com</a></p> 
  </div>
</div></a>
<a href='https://mockfinal.nicholasxwang.repl.co/'><div class="card">
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Mock Final V1</b></h4> 
  </div>
</div></a>
<a href='https://mockfinal.vedhreddy.repl.co/'><div class="card">
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Mock Final V2</b></h4> 
  </div>
</div></a>
<a href='https://tutor.vedhreddy.repl.co/'><div class="card">
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Tutor Talent</b></h4> 
  </div>
</div></a>
<a href='/calendar'><div class="card">
  <center><img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Premium Calendar</b></h4> 
  </div>
</div></a>
<a href='/python'><div class="card">
  <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/768px-Python-logo-notext.svg.png" alt="Avatar" style="width:25%"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Python Intepreter</b></h4> 
  </div>
</div></a>
<a href='/music'><div class="card">
  <center><img src="https://i.pinimg.com/originals/e9/65/f2/e965f231b1307fc29d60bf4dc8de0190.png" alt="Avatar" style="width:25%;filter: invert(1);"></center>
  <div class="container" style='color:white;'>
    <h4 style="text-align: center;color:white;" ><b>Music Studio</b></h4> 
  </div>
</div></a>
<h1 style="clear: both;">Legal Information</h1>
<p style="clear: both;"><a href='/disclaimer'>Disclaimer</a> • <a href='/tos'>Terms of Service</a> • <a href='/pp'>Privacy Policy</a> • <a href='/about'>About</a> • <a href='/cookies'>Cookies</a></p>
</div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
{% endblock %}