{% extends "layout.html" %}
{% block main %}
<script
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="on"
  data-website-uuid="eb1de628-c463-4c41-a09c-999f19419c9b"
  ></script>

<style>
  .launch{
    background:#fcc203;
    border-style:solid;
    border-width:2px;
    border-color:black;
    font-weight:400;
    color:black;
    font-size:2em;
    border-radius:15px;
    width:300px;
    height:70px;
    transition-delay:0s;
  }
  .launch:hover{
    background:white;
    font-weight:400;
    color: #333436;
    transition-delay:0.1s;
  }
  .launchTOP{
    background:#fcc203;
    border-style:solid;
    border-width:2px;
    border-color:black;
    font-weight:400;
    color:black;
    font-size:0.5em;
    border-radius:15px;
    width:75px;
    height:30px;
    transition-delay:0s;
    float:right;
  }
  .launchTOP:hover{
    background:white;
    font-weight:400;
    color: #333436;
    transition-delay:0.1s;
  }
  .announcement{
    //#a83246
    //168, 50, 70
    float:right;
    background-color:rgba(168, 50, 70,0.3);
    z-index: 1;
    position: absolute;
    right: 0px;
    left:60%;
    top: 40px;
    border-style:none none solid none;
    border-color:#a83246;
    border-width:3px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<center>
<div class='announcement' id='1'>
   <p><span style='float:left;background:red;' id='close' onclick='document.getElementById("1").setAttribute("style", "display:none");'>&nbsp;&nbsp;x&nbsp;&nbsp;</span>

   
   <span style='color:#a83246;font-weight:800;'><br>❗Country Bot is Now Partnered with TestPreparer!</span>
  Country Bot is all about countries as the name may suggest. You can find almost any information that needs to be known about almost any country...&nbsp;&nbsp;&nbsp;&nbsp;<button style='background:#4287f5;border-radius:5px;padding:10px;border-style:none;' id="change">(Read More)</buttom>
</div>

<div class='announcement' id="2" style="display:none;">
    <p><span style='float:left;background:red;' id='close' onclick='document.getElementById("2").setAttribute("style", "display:none");'>&nbsp;&nbsp;x&nbsp;&nbsp;</span>

   
   <span style='color:#a83246;font-weight:800;'><br>❗Country Bot is Now Partnered with TestPreparer!</span>
  Country Bot is all about countries as the name may suggest. You can find almost any information that needs to be known about almost any country in the world. You can even create your own country and compete against your friends to become the biggest. And finally, its updated almost every week. Ask questions in the support server!<br>• <a href='https://discord.com/api/oauth2/authorize?client_id=810662403217948672&permissions=2048&scope=bot%20applications.commands'>Click Me for Bot Invite!</a><br>• <a href='https://discord.com/invite/hCgh9wngkS'>Click Me for Support Server</a><br>• <a href='/partners/cbot/redeem'>Click me for FREE country bot premium!</a>
  </p>
</div>

{% if token == False %}
<a href='/launch'><button class='launchTOP'>Launch App</button></a>
{% endif %}
{% if token == True %}
<a href='/login'><button class='launchTOP'>Try for Free!</button></a>
{% endif %}
<h1>TestPreparer</h1>
<br><br><br><br>
<span style='font-size:5em;'>Where Organization Happens.</span><br><br><br>
<span style='font-size:1em;'>TestPreparer does things like helping students organize notes all the way to organizing grades. It also keeps track of assignments and provides a safe youtube and zoom integration.</span><br><br><br>
{% if token == False %}
<a href='/launch'><button class='launch'>Launch App</button></a>
{% endif %}
{% if token == True %}
<a href='/login'><button class='launch'>Try for Free!</button></a>
{% endif %}<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$('#change').on('click',function(){
    if($('#1').css('display')!='none'){
    $('#2').show().siblings('div').hide();
    }else if($('#2').css('display')!='none'){
        $('#1').show().siblings('div').hide();
    }
});
setTimeout(function() {
    $('#1').fadeOut(10000);
}, 1000); // <-- time in milliseconds
setTimeout2(function() {
    $('#2').fadeOut(10000);
}, 1000); // <-- time in milliseconds
</script>

{% endblock %}