{% extends "layout.html" %}
{% block main %}
<script
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="on"
  data-website-uuid="eb1de628-c463-4c41-a09c-999f19419c9b"
  ></script>

<a href="https://app.termly.io/notify/f1f22363-f640-47d2-9b0d-ecb865075b85" style='color:#333436'>
  Do not sell my info
</a>
<style>
  .launch{
    background:#fcc203;
    border-style:solid;
    border-width:2px;
    border-color:black;
    font-weight:400;
    color:black;
    font-size:2em;
    border-radius:15px;
    width:300px;
    height:70px;
    transition-delay:0s;
  }
  .launch:hover{
    background:white;
    font-weight:400;
    color: #333436;
    transition-delay:0.1s;
  }
  .launchTOP{
    background:#fcc203;
    border-style:solid;
    border-width:2px;
    border-color:black;
    font-weight:400;
    color:black;
    font-size:0.5em;
    border-radius:15px;
    width:75px;
    height:30px;
    transition-delay:0s;
    float:right;
  }
  .launchTOP:hover{
    background:white;
    font-weight:400;
    color: #333436;
    transition-delay:0.1s;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<center>
{% if token == False %}
<a href='/launch'><button class='launchTOP'>Launch App</button></a>
{% endif %}
{% if token == True %}
<a href='/login'><button class='launchTOP'>Try for Free!</button></a>
{% endif %}
<h1>TestPreparer</h1>
<br><br><br><br>
<span style='font-size:5em;'>Where Organization Happens.</span><br><br><br>
<span style='font-size:1em;'>TestPreparer does things like helping students organize notes all the way to organizing grades. It also keeps track of assignments and provides a safe youtube and zoom integration.</span><br><br><br>
{% if token == False %}
<a href='/launch'><button class='launch'>Launch App</button></a>
{% endif %}
{% if token == True %}
<a href='/login'><button class='launch'>Try for Free!</button></a>
{% endif %}<br>


{% endblock %}