{% extends "layout.html" %}
{% block main %}
<!--type within these green marks!-->
<h1>Hybrid Bot</h1>
<p>Hybrid Bot is a Discord moderation bot. With so many great features like purge and mute already in place (not to mention the countless updates to come), this bot will be a big help for moderating servers. We also have fun features like games. We are truly serious about this bot. In fact, in the not-so-distant future, Hybrid Bot Premium will open up. We hope we can share the excitement we have for this bot with you.</p>
<a href='https://www.twitter.com/bot_hybrid'><button>Hybrid Bot Twitter</button></a>
<a href='https://www.instagram.com/hybridsupportbot/'><button>Hybrid Bot Instagram</button></a>
<a href='https://www.hybridbot.app/home/'><button>Hybrid Bot Website</button></a>
<a href='https://discord.gg/RUQtkYzPuC'><button>Hybrid Bot Support Server</button></a>
<a href='https://discord.com/oauth2/authorize?client_id=851572977195941899&permissions=8&scope=bot'><button>Hybrid Bot Invite</button></a>
<!--type within these green marks!-->
{% endblock %}