{% extends "layout.html" %}
{% block main %}
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/react-native-gif-search@1.3.2/index.js"></script>
<script>
  $(function(){
    // don't cache ajax or content won't be fresh
    $.ajaxSetup ({
        cache: false
    });
    var ajax_load = "<img src='http://automobiles.honda.com/images/current-offers/small-loading.gif' alt='loading...' />";

    // load() functions
    var loadUrl = "http://fiddle.jshell.net/deborah/pkmvD/show/";
    $("#loadbasic").click(function(){
        $("#result").html(ajax_load).load(loadUrl);
    });

// end  
});
</script>
<style>
  emoji-picker {
  --background:rgba(39, 40, 41,0.5);
}

  .box{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:300px;
    height:150px;
    margin:5px;
    background:rgba(0,0,0,0.3); 
    border-radius:10px;
    color:white;
  }
  .chatright{
    float:left;
    


  }
  .chat{
    border-style:none;
    width:900px;
    margin:5px;
    float:left;
    background:rgba(0,0,0,0.3); 
    border-radius:10px;
    color:white;
  }
  .box img{
    text-align:center;
  }
  .box:hover{
    border-style:none none solid none;
    border-color:red;
    color:white;
  }
  input[type=text]{
    height:20px;
    background:rgba(255,255,255,0.5);
  }
  input[type=submit]{
    height:20px;
    background:green;
  }
  input[type=submit]:hover{
    height:20px;
    background:orange;
  }
  .material-icons md-18:active{
    background:#878684;
  }
</style>
<h1 style='border-style:none;border-width:10px;border-color:transparent;width:100%;height:60px;background:rgba(0,0,0,0.3);border-radius:10px; color:white;margin-bottom:20px;text-align:center;'>{{server}}</h1>
<h2 style='border-style:none;border-width:10px;border-color:transparent;width:100%;height:40px;background:rgba(0,0,0,0.3);border-radius:10px; color:white;margin-bottom:20px;text-align:center;'>{{name}}<span style='color:grey;'>&nbsp&nbsp({{username}})</span></h2>
<div class='chat' style={{stuff}}>
  {% for i in messages %}
  <p><span style='color:yellow;'>{{i[0]}}</span>: {{i[1]}}</p>
  {% endfor %}
  <form method='POST' action={{'/submit/'+link}}>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script>
    document.querySelector('emoji-picker')
  .addEventListener('emoji-click', event => console.log(event.detail));
  </script>
  <i onclick='if (document.getElementById("emojis").style.display == "none"){document.getElementById("emojis").style.display = "block";}else{document.getElementById("emojis").style.display = "none";}'class="material-icons md-18">emoji_emotions</i><i class="material-icons md-18">gif_box</i><input type='text'  id="mytextarea" placeholder ='Type your  message...' style='width:800px' name='message'>
  <emoji-picker class="dark" id='emojis' style='display:none;'></emoji-picker>
  <GifSearch
  tenorApiKey="AVNYCXC0ZHP6"
  giphyApiKey="nmyeU3Fi8uRqstA3b8tyEM1Vqc4CpdVg  "
  onGifSelected="(gif_url)=>{alert(gif_url)}"/>
  <input type='submit' style='width:300px' value='Send!'>
  </form>
</div>
<div class='chatright'>
<div class='box'> 
  <h1>Calendar</h1>
</div>
<h1 style='clear:both;color:transparent;'> .</h1>
<div class='box'> 
  <h1>Files</h1>
  <p><img src='/static/attachments/icons/gdocs.svg'> Google Doc#1</p>
  <p><img src='/static/attachments/icons/gdocs.svg'> Google Doc#2</p>
</div>
<h1 style='clear:both;color:transparent;'> .</h1>
<div class='box'> 
  <h1>Announcements</h1>
  <h2>Go to settings to set an announcement! Only comunity admins can give announcements</h2>
</div>
<h1 style='clear:both;color:transparent;'> .</h1>
<a href='/settings'><div class='box'> 
  <h1>Setting</h1>
</div></a>
</div>
{% endblock %}