{% extends "layout.html" %}
{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function(){
    // don't cache ajax or content won't be fresh
    $.ajaxSetup ({
        cache: false
    });
    var ajax_load = "<img src='http://automobiles.honda.com/images/current-offers/small-loading.gif' alt='loading...' />";

    // load() functions
    var loadUrl = "http://fiddle.jshell.net/deborah/pkmvD/show/";
    $("#loadbasic").click(function(){
        $("#result").html(ajax_load).load(loadUrl);
    });

// end  
});
</script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: "#mytextarea",
    plugins: "emoticons",
    toolbar: "emoticons",
    toolbar_location: "bottom",
    menubar: false
  });
</script>
<style>
  .box{
    border-style:none none solid none;
    border-width:10px;
    border-color:transparent;
    width:300px;
    height:150px;
    margin:5px;
    float:right;
    background:#4f5959; 
    border-radius:10px;
    color:white;
  }
  .chat{
    border-style:none;
    width:900px;
    margin:5px;
    float:left;
    background:#4f5959; 
    border-radius:10px;
    color:white;
  }
  box img{
    text-align:center;
  }
  .box:hover{
    border-style:none none solid none;
    border-color:red;
    color:white;
  }
  input[type=text]{
    height:20px;
  }
  input[type=submit]{
    height:20px;
    background:green;
  }
  input[type=submit]:hover{
    height:20px;
    background:orange;
  }
</style>
<h1 style='border-style:none;border-width:10px;border-color:transparent;width:100%;height:60px;background:#4f5959;border-radius:10px; color:white;margin-bottom:20px;text-align:center;'>{{server}}</h1>
<h2 style='border-style:none;border-width:10px;border-color:transparent;width:100%;height:40px;background:#4f5959;border-radius:10px; color:white;margin-bottom:20px;text-align:center;'>{{name}}<span style='color:grey;'>&nbsp&nbsp({{username}})</span></h2>
<div class='chat' style={{stuff}}>
  {% for i in messages %}
  <p><span style='color:yellow;'>{{i[0]}}</span>: {{i[1]}}</p>
  {% endfor %}
  <form method='POST' action={{'/submit/'+link}}>
  <input type='text'  id="mytextarea" placeholder ='Type your  message...' style='width:800px' name='message'>
  <input type='submit' style='width:300px' value='Send!'>
  </form>
</div>
<div class='box'> 
  <h1>Calendar</h1>
</div>
<h1 style='clear:both;color:transparent;'> .</h1>
<div class='box'> 
  <h1>Files</h1>
  <p><img src='/static/attachments/icons/gdocs.svg'> Google Doc#1</p>
  <p><img src='/static/attachments/icons/gdocs.svg'> Google Doc#2</p>
</div>
<h1 style='clear:both;color:transparent;'> .</h1>
<div class='box'> 
  <h1>Announcements</h1>
  <h1>Remember, Comps is in 2 weeks!</h1>
</div>
<h1 style='clear:both;color:transparent;'> .</h1>
<a href='/settings'><div class='box'> 
  <h1>Setting</h1>
</div></a>
{% endblock %}