{% extends "layout.html" %}
{% block main %}
<div style='margin: auto;width: 60%;border: none;padding: 10px;'>
{% if valid == True %}
<p>{{join}} invited you to join<p> 
<h1>{{name}}</h1>
<form method='POST'>
  <p style='color:grey'>NICKNAME</p>
  <input style='padding:10px;width:400px; ' name='name' placeholder='What should everyone call you?'><br>
  <input type='submit' value='Continue'>
</form>
{% endif %}
{% if valid != True %}
<img src='https://discord.com/assets/e0c782560fd96acd7f01fda1f8c6ff24.svg'>
<h1>Invalid Invite!</h1>
<p>That invite is not valid and does not exist :C </p>
{% endif %}
</div>
{% endblock %}