<!DOCTYPE html>
<script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>


<script>
twemoji.parse(genericNode, {
  folder: 'svg',
  ext: '.svg'
});
function init(){
  // Set the size of the rendered Emojis
// This can be set to 16x16, 36x36, or 72x72
twemoji.size = '36x36';

// Parse the document body and
// insert <img> tags in place of Unicode Emojis
twemoji.parse(document.body);

}

</script>

<html lang="en">
  <head>
    <div id='fun'></div>
    <title>TestPreparer LMS</title>
    <link href="https://testpreparer.gq/static/assets/icon.png" rel="shortcut icon" type="image/png" />
    <meta name="theme-color" content="#00b0f4">

    <meta property="og:title" content="TestPreparer | Where Organization Happens" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://testpreparer.gq" />
    <!--<meta property="og:image" content="/static/TestPreparer LMS.gif" />
    <meta property="og:description"
      content="A LMS MADE BY STUDENTS. A LMS DESIGNED FOR STUDENTS. TestPreparer LMS does things like helping students organize notes all the way to organizing grades. It also keeps track of assignments and provides a safe youtube and zoom integration." />!-->

    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" id='swap'/>
    <link href="/static/css/main.css" rel="stylesheet" />
    <script src="/static/script.js"></script>
  </head>

  <body style="background: #333436; color: #FFFFFF;"  onload="init()">
    <!-- Command Shortcut Modal -->
    <div id="shortcut-modal" class="modal">
      <div class="modal-content" id="shortcut-info"></div>
    </div>

    <!-- Right Click Menu -->
    <div id="contextMenu" class="context-menu" style="display:none">
      <ul>
        <li><a href="/zoom">Join Zoom Meeting</a></li>
        <li><a href="/music">Listen to Music</a></li>
        <li><a href="/app">Return to Dashboard</a></li>
        <li><a href="/">Return Home</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><a href="#">--</a></li>
        <li><a href="#">--</a></li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script>
      const ios = /(Mac|iPhone|iPod|iPad)/i.test(navigator.platform);
      const ctrl = ios ? 'meta' : 'ctrl';
      const ctrlFormat = ios ? '⌘' : 'CTRL';

      const modal = document.getElementById("shortcut-modal");

      document.getElementById('shortcut-info').innerHTML = `
        <span class="close" id="closeKeyboardShortcuts">&times;</span>
        <h1>Keyboard Shortcuts</h1>
        <p><span class='change'>${ctrlFormat}</span> + / - Open this box</p>
        <p><span class='change'>${ctrlFormat}</span> + R - Secret Command</p>
        <p><span class='change'>${ctrlFormat}</span> + G - Something Fun 
        <p><span class='change'>${ctrlFormat}</span> + L - Log Out</p>
        </p>
        <p style='font-size:34px;'>Dark Mode <label class="switch" name='switch' id='remember'>
        <input type="checkbox" name='answer' onchange = 'mode()'>
        <span class="slider round"></span>
        </label> Light Mode</p><br>
        
      `

      // Opening Modal
      Mousetrap.bind(`${ctrl}+/`, function (e) {
        modal.style.display = "block";
      });
      Mousetrap.bind(`${ctrl}+,`, function (e) {
        modal.style.display = "block";
      });
      
      // Closing Modal
      Mousetrap.bind('esc', function (e) {
        if (modal.style.display === 'block')
          modal.style.display = "none";
      });
      document.getElementById("closeKeyboardShortcuts").onclick = function () {
        modal.style.display = "none";
      };
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      // More Shortcuts
      
      Mousetrap.bind(`${ctrl}+r`, function (e) {
        var element = document.getElementById('fun');
        element.innerHTML += '<audio src="/static/rickroll2.mp3" controls autoplay hidden loop></audio>' ;
        
      });
      Mousetrap.bind(`${ctrl}+l`, function (e) {
        window.location.href = '/logout';
      });
			Mousetrap.bind(`${ctrl}+shift+f`, function (e) {
				if (document.fullscreen) {
					if (document.exitFullscreen) {
						document.exitFullscreen();
					} else if (document.webkitExitFullscreen) { /* Safari */
						document.webkitExitFullscreen();
					} else if (document.msExitFullscreen) { /* IE11 */
						document.msExitFullscreen();
					}
				} else {
					let elem = document.documentElement;
					if (elem.requestFullscreen) {
						elem.requestFullscreen();
					} else if (elem.webkitRequestFullscreen) { /* Safari */
						elem.webkitRequestFullscreen();
					} else if (elem.msRequestFullscreen) { /* IE11 */
						elem.msRequestFullscreen();
					}
				}
			});

      // Right Click Context Menu
      function hideMenu() {
        let menu = document.getElementById("contextMenu");
        if (menu.style.display !== "none") {
          menu.style.display = "none";
        }
      };
      function rightClick(e) {
        e.preventDefault();
        let menu = document.getElementById("contextMenu");

        if (menu.style.display === "block")
          hideMenu();
        
        else {
          menu.style.display = 'block';
          menu.style.left = e.pageX + "px";
          menu.style.top = e.pageY + "px";
        }
      };

      document.onclick = hideMenu;
      document.oncontextmenu = rightClick;
    </script>
    <script>
      function swapStyleSheet(newsheet){
        document.getElementById('swap').setAttribute("href", newsheet);
      }
      function mode(){
        if (document.getElementById('remember').checked) {
          swapStyleSheet("static/css/style.css");
        }
        else{
          swapStyleSheet("static/css/white.css");
        }
      }
    </script>
  </body>
</html>

{% block main %}{% endblock %}