<!DOCTYPE html>
<div style="background:#00a2ff;width:100%;padding:5px 0px 5px 0px;">TestPreparer 1.1 is out! First stable version!</div>
<script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>


<script>
twemoji.parse(genericNode, {
  folder: 'svg',
  ext: '.svg'
});
function init(){
  // Set the size of the rendered Emojis
// This can be set to 16x16, 36x36, or 72x72
twemoji.size = '16x16';

// Parse the document body and
// insert <img> tags in place of Unicode Emojis
twemoji.parse(document.body);

}

</script>

<html lang="en">
  <head>
    <div id='fun'></div>
    <title>TestPreparer</title>
    <meta property="og:title" content="TestPreparer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://testpreparer.gq" />
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/862132029465952277/862163942268207104/Screen_Shot_2021-07-06_at_7.51.27_PM.png" />
    <meta property="og:description" content="TestPreparer is an app that can help students with their daily life from studies to social life to entertainment. This app also includes many integrations for learning (e.g AoPS, Zoom.us) and entertainment (e.g. Youtube, Spotify)." />
    <meta name="theme-color" content="#FCC101">
    <link rel="shortcut icon" type="image/jpg" href="https://cdn.discordapp.com/icons/849751839972130816/c57cd596fa8553bff4e6c8b4017d0c44.png"/>

    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href={{"/static/css/style.css?version=" ~ range(1, 100000000) | random}} rel="stylesheet" id='swap'/>
    <link href="/static/css/main.css" rel="stylesheet" />
    <script src="/static/script.js"></script>
  </head>

  <body onload="init()">
    <!-- Command Shortcut Modal -->
    <div id="shortcut-modal" class="modal">
      <div class="modal-content" id="shortcut-info"></div>
    </div>

    <!-- Right Click Menu -->
    <div id="contextMenu" class="context-menu" style="display:none">
      <ul>
        <li><a href="/app">TestPreparer Dashboard</a></li>
        <li><a href="/education">TestPreparer Education</a></li>
        <li><a href="/community">TestPreparer Community</a></li>
        <li><a href="/extentions">TestPreparer Extentions</a></li>
        <li><a href="/account">TestPreparer Account</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/zoom">Join Zoom Meeting</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script>
      const ios = /(Mac|iPhone|iPod|iPad)/i.test(navigator.platform);
      const ctrl = ios ? 'meta' : 'ctrl';
      const ctrlFormat = ios ? '⌘' : 'CTRL';

      const modal = document.getElementById("shortcut-modal");

      document.getElementById('shortcut-info').innerHTML = `
        <span class="close" id="closeKeyboardShortcuts">&times;</span>
        <h1>Keyboard Shortcuts</h1>
        <p><span class='change'>${ctrlFormat}</span> + / - Open this box</p>
        <p><span class='change'>${ctrlFormat}</span> + R - Secret Command</p>
        <p><span class='change'>${ctrlFormat}</span> + G - Something Fun 
        <p><span class='change'>${ctrlFormat}</span> + L - Log Out</p>
        </p>
        
      `

      // Opening Modal
      Mousetrap.bind(`${ctrl}+/`, function (e) {
        modal.style.display = "block";
      });
      Mousetrap.bind(`${ctrl}+,`, function (e) {
        modal.style.display = "block";
      });
      
      // Closing Modal
      Mousetrap.bind('esc', function (e) {
        if (modal.style.display === 'block')
          modal.style.display = "none";
      });
      document.getElementById("closeKeyboardShortcuts").onclick = function () {
        modal.style.display = "none";
      };
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      // More Shortcuts
      
      Mousetrap.bind(`${ctrl}+r`, function (e) {
        var element = document.getElementById('fun');
        element.innerHTML += '<audio src="/static/rickroll2.mp3" controls autoplay hidden loop></audio>' ;
        
      });
      Mousetrap.bind(`${ctrl}+l`, function (e) {
        window.location.href = '/logout';
      });
			Mousetrap.bind(`${ctrl}+shift+f`, function (e) {
				if (document.fullscreen) {
					if (document.exitFullscreen) {
						document.exitFullscreen();
					} else if (document.webkitExitFullscreen) { /* Safari */
						document.webkitExitFullscreen();
					} else if (document.msExitFullscreen) { /* IE11 */
						document.msExitFullscreen();
					}
				} else {
					let elem = document.documentElement;
					if (elem.requestFullscreen) {
						elem.requestFullscreen();
					} else if (elem.webkitRequestFullscreen) { /* Safari */
						elem.webkitRequestFullscreen();
					} else if (elem.msRequestFullscreen) { /* IE11 */
						elem.msRequestFullscreen();
					}
				}
			});

      // Right Click Context Menu
      function hideMenu() {
        let menu = document.getElementById("contextMenu");
        if (menu.style.display !== "none") {
          menu.style.display = "none";
        }
      };
      function rightClick(e) {
        e.preventDefault();
        let menu = document.getElementById("contextMenu");

        if (menu.style.display === "block")
          hideMenu();
        
        else {
          menu.style.display = 'block';
          menu.style.left = e.pageX + "px";
          menu.style.top = e.pageY + "px";
        }
      };

      document.onclick = hideMenu;
      document.oncontextmenu = rightClick;
    </script>
    <script>
      function swapStyleSheet(newsheet){
        document.getElementById('swap').setAttribute("href", newsheet);
      }
      function mode(){
        if (document.getElementById('remember').checked) {
          swapStyleSheet("static/css/style.css?version="+Math.floor(Math.random() * 100000000););
          alert('Success');
        }
        else{
          swapStyleSheet("static/css/white.css?version="+Math.floor(Math.random() * 100000000););
          alert('Success');
        }
      }
    </script>
  </body>
</html>

{% block main %}{% endblock %}