{% extends "layout.html" %}
{% block main %}
<body>
  <form  method="POST">
  <input type="text" placeholder="Search.." class='search' name='search' style='height:50x;width:400px;'>
  <input style='height:50px;'type="submit" class="submit" value='Search'>
  </form>
  {% if noresults== True %}
  <h1>No Results 😭</h1>
  {% endif %}
  {% if noresults== False %}
  {% for i in mylist %}
  <a href={{'play/'+i["id"]}}><div style='clear:both;'>
  <img heigth = 80px src={{i["thumbnail_url"]}}>
  <h1>{{i["title"]}}</h1></a>
  <h2><a href={{i["author_url"]}}>{{i["author_name"]}}</a></h2></div>
  <a href={{'https://www.youtube.com/watch?v='+i["id"]}}><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button style="font-size:24px; background:#c4302b;color:white;border-style:none;border-radius:5px;margin-right:10px;">Watch on Youtube <i class="fa fa-youtube-play"></i></button></a><a href={{'play/'+i["id"]}}><div style='clear:both;'><button style="font-size:24px; background:#FCC101;color:white;border-style:none;border-radius:5px;">Watch on TestPreparer</button></a>

  <br>
  <hr>
  {% endfor %}
  {% endif %}
 </body>
{% endblock %}