{% extends "layout.html" %}
{% block main %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.js"></script>
<script>hljs.highlightAll();</script>

<style>
  
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap,900&display=swap');
body{
  font-family: 'Lato', sans-serif;
  color:white;
  background:#282836;
}
.avatar{
  border-radius:50%;
  margin:5px;
}

.b{
  font-family: 'Lato', sans-serif;
  font-weight:900;
}
.collapsible {
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0,0.2);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgba(0, 0, 0,0.1);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
a{
  color:yellow;
  text-decoration:none;
}
a:hover{
  color:#14FF00;
}
select{
  font-family: 'Lato', sans-serif;
  color:white;
  background:transparent;
  font-size:2em;
}
</style>

<center>
</center>
<div id='main' style='width:75%'>
<form method='POST' action='/try' id='formID'>
<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
</head>
<body>

<div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>
    
<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
</script>


<input type='submit' class='run' value='Run!'>
<style>
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
  .run{
    background:transparent;
    height:60px;
    width:100px;
    border-radius:10px;
    color:green;
    border-style:solid;
    border-color:grey;
    border-width:1px;

  }
  .run:active{
    outline:none;

  }
  .run:hover{
    color:white;
    background:green;
    border-color:green;
  }

code {
  font-family: 'JetBrains Mono', monospace;
  size:1.5em;
}


{% endblock %}