{% extends "layout.html" %}
{% block main %}
<style>
  input[type=text]{
    background:none;
  }
  input[type=url]{
    background:none;
  }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<form method='POST'>
<h1>Share a File</h1>
<h1><input type='text' name='name' placeholder='File Name: ' class='new'><br>
<input type='url' name='url' placeholder='File URL: ' class='new'></br>
<h1>File Type:</h1>
<h1><select name='type'>
  <option value='file.svg'>Plain Text Based File</option>
  <option value='code.svg'>Coding File</option>
  <option value='pdf.svg'>PDF File</option>
  <option value='gdrive.svg'>Google Drive Folder</option>
  <option value='gdocs.svg'>Google Docs</option>
  <option value='gslides.svg'>Google Slides</option>
  <option value='gsheet.svg'>Google Sheets</option>
  <option value='gdraw.svg'>Google Drawing</option>
  <option value='gforms.svg'>Google Forms</option>
  <option value='word.svg'>Microsoft Word</option>
  <option value='excel.svg'>Microsoft Excel</option>
  <option value='powerpoint.svg'>Microsoft Powerpoint</option>
  <option value='onenote.svg'>Microsoft Onenote</option>
  <option value='video.svg'>Video</option>
  <option value='picture.svg'>Image</option>
  <option value='quizlet.png'>Quizlet (NEW!)</option>
</select><br></h1>
<h1>Attachment Type:</h1>
<h1><select name='category'>
  <option value='notes'>Notes</option>
  <option value='cw'>Classwork</option>
  <option value='hw'>Homework</option>
  <option value='sg'>Study Guide</option>
</select><br></h1>
<h2>Share it with members!</h2>
{% for i in members %}
  <input type="checkbox" name="members" value={{i["email"]}}>
  <label for="members"> {{i["username"]+' | '+i["email"]}}</label><br>
{% endfor %}
<h1>Select Type</h1>
<input type="radio" name="share" value="View">
<label for="share"> View <img src='/static/assets/visibility_black_24dp.svg' style='filter: invert(1);' width=20px></label><br>
<input type="radio" name="share" value="Suggest">
<label for="share"> Suggest <img src='/static/assets/question_answer_black_24dp.svg' style='filter: invert(1);' width=20px></label><br>
<input type="radio" name="share" value="Edit">
<label for="vehicle2"> Edit <img src='/static/assets/edit_black_24dp.svg' style='filter: invert(1);' width=20px></label><br>
<input type='submit' value='Share!'>
</form>

{% endblock %}