{% extends "layout.html" %}
{% block main %}

<center>
<style>
  input{
    outline:none;
    border-style:solid;
    border-color:black;
    border-width:2px;
  }
</style>
<h1>TestPreparer SignUp</h1>
<h1 style='color:red;'>{{error}}</h1>
<h2>Please fill in all boxes!</h2>
<form method='POST'>
  <input type='text' placeholder='Username' name='username' value={{username}}><br>
  <input type='text' placeholder='First Name' name='fn' value={{first}}><br>
  <input type='text' placeholder='Last Name' name='ln' value={{last}}><br>
  <input type='email' placeholder='Email' name='email' value={{email}}><br>
  <input type='hidden' name='check' value='no'><br>
  <input name="password" id="password" type="password" onkeyup='check();' placeholder='Password:'  value={{psw}}><br>
  <input type="password" name="confirm_password" id="confirm_password"  onkeyup='check();' id='confirm' placeholder='Confirm Password:'/><br>
  <span id='message'></span><br>
  <input type='submit' value='Sign Up!'>
</form>
<h1>Or <a href='/login'>Log In</a></h1>
<script>
  var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value && document.getElementById('password').value !=
    ''){
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Passwords Matching :)';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Passwords Not Matching!!!';
  }
}
</script>
</center>
{% endblock %}